img {
  width: 600px;
  display: block;
  margin: 0 auto;
}

body {
  max-width: 1150px;
  margin: auto;
  padding: 2em;
  line-height: 1.5; 
  list-style-type: disc;
  font-size: 18px} 

.fa-2x {
  vertical-align: middle;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 1150px;
  font-size: 18px
  background-color: ;
}

.flex-container > left {
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
}

.flex-container > right {
  width: 650px;
  margin: 20px;
  text-align: left;
  line-height: 20px;
}